/* ベースのスタイル */
:root {
  /* ナチュラルなテーマカラー */
  --primary-color: #5D4037; /* プライマリーカラー（例：ダークブラウン） */
  --secondary-color: #8D6E63; /* セカンダリーカラー（例：ミディアムブラウン） */
  --background-color: #D7CCC8; /* 背景色（例：ライトブラウン） */
  --text-color: #333333; /* テキストカラー（例：ダークグレー） */
  --accent-color: #FFC107; /* アクセントカラー（例：ゴールド） */
  
  /* フォント */
  --primary-font: "Helvetica, Arial, sans-serif";
}

/* 背景色とテキストカラーの適用 */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  scroll-behavior: smooth;
  margin: 0;
}

/* プライマリーカラーの適用例 */
h1, h2 {
  color: var(--text-color);
}

/* セカンダリーカラーの適用例 */
h3, h4 {
  color: var(--secondary-color);
}

/* アクセントカラーの適用例 */
a {
  color: var(--accent-color);
  text-decoration: none;
}

/* 他の要素にも適用する場合 */
button, input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

section {
  padding: 96px;
}

.introduction {

}

.background {

}

.items {

}

.tools {

}

.benefits {
  background: #db5331;
  color: #fff;
}

.conclusion {

}